{% extends 'layouts/base.html.twig' %}

{% block title 'Find the best pins on earth !' %}

{% block body %}
    {% if pins|length > 0 %}
        <h1 class="mb-4 text-center text-muted">{{ pluralize(pins|length, 'Pin') }}</h1>
        {% for row in pins|batch(3) %}
            <div class="row mb-5">
                {% for pin in row %}
                    <div class="col-md-4">
                        <article class="pin bg-white rounded shadow">
                            <div class="mw-100 rounded-top overflow-hidden">
                                <a href="{{ path('pins.show', {id: pin.id}) }}">
                                    <img class="w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" />
                                </a>
                            </div>
                            <h2 class="h5 pl-3 pt-3"><a class="text-decoration-none text-secondary" href="{{ path('pins.show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
                            <p class="pl-3 pb-3 text-muted text-break">
                                <small>Submitted by {{ pin.user.fullName }}
                                <br>{{ pin.createdAt|ago }}</small>
                                {# <br>{{ pin.description|u.truncate(20, '...', true) }} #}
                            </p>
                            {# <a href="#" onclick="event.preventDefault(); confirm('Are you sure ?') 
                                && document.getElementById('js-pin-delete-form-{{ pin.id }}').submit();" class="m-3 btn btn-danger">&times; Delete  {{ pin.title }}</a>
                            <form id="js-pin-delete-form-{{ pin.id }}" action="{{ path('pins.delete', {id: pin.id}) }}" method="POST" style="display: none;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('pin.deletion' ~ pin.id) }}">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>  #}
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}   
    {% else %}
        <p class="h1 mt-5 text-center">No pins yet.
            <a href="{{ path('pins.create') }}">Be the first !</a>
        </p>
    {% endif %}
{% endblock %}
